<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="WebApp template">
<meta name="author" content="Andrei Herdes">

<title>EmoAPI</title>

<!-- Bootstrap core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../css/small-business.css" rel="stylesheet">

</head>

<body>

	<!-- Modal for Register -->
	<div class="modal right fade" id="registerModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel2">Register</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<!-- modal -->
				<div class="modal-body">
					<form class="validate-formReg" th:action="@{/register}"
						th:object="${register}" method="post">

						<div class="wrap-input100">
							<input class="input100Reg" type="text" name="register_first_name"
								th:field="*{firstName}"> <span class="focus-input100"></span>
							<span class="label-input100">Your name..</span>
						</div>


						<div class="wrap-input100">
							<input class="input100Reg" type="text" name="register_last_name"
								th:field="*{lastName}"> <span class="focus-input100"></span>
							<span class="label-input100">Last Name</span>
						</div>

						<div class="wrap-input100 validate-inputReg">
							<input class="input100Reg" type="text" name="emailReg"
								th:field="*{email}"> <span class="focus-input100"></span>
							<span class="label-input100">Email</span>
						</div>

						<div class="wrap-input100 validate-inputReg"
							data-validate="Password is required">
							<input class="input100Reg" type="password" name="register_passwd"
								th:field="*{password}"> <span class="focus-input100"></span>
							<span class="label-input100">Password</span>
						</div>

						<div class="wrap-input100 validate-inputReg"
							data-validate="Password is required">
							<input class="input100Reg" type="password"
								name="register_repasswd"> <span class="focus-input100"></span>
							<span class="label-input100">Retype password..</span>
						</div>

						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox"
								name=is-organization> <label class="label-checkbox100"
								for="ckb1"> Are you an organization? </label>
						</div>

						<div class="container-login100-form-btn">
							<input name="registerButton"
								class="login100-form-btn btn btn-primary btn-lg" type="submit"
								value="Register" />
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<p>Licenta 2018</p>
				</div>
			</div>
		</div>
	</div>
	<!-- End modal -->

	<!-- Modal for Login -->
	<div class="modal right fade" id="loginModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel2">Login</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<!-- modal -->
				<div class="modal-body">
					<form class="validate-form" th:action="@{/login}"
						th:object="${login}" method="post">
						<div class="wrap-input100 validate-input"
							data-validate="Valid email is required: ex@abc.xyz">
							<input id="loginEmail" class="input100" type="text" name="email"
								th:field="*{email}"> <span class="focus-input100"></span>
							<span class="label-input100">Email</span>
						</div>


						<div class="wrap-input100 validate-input"
							data-validate="Password is required">
							<input id="loginPassword" class="input100" type="password"
								name="pass" th:field="*{password}"> <span
								class="focus-input100"></span> <span class="label-input100">Password</span>
						</div>

						<div class="flex-sb-m w-full p-t-3 p-b-32">
							<div>
								<a href="#" class="txt1"> Forgot Password? </a>
							</div>
						</div>

						<div class="container-login100-form-btn">
							<input class="login100-form-btn btn btn-primary btn-lg"
								type="submit" name="loginButton" value="Login" />
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<p>Licenta 2018</p>
				</div>
			</div>
		</div>
	</div>

	<!-- End modal -->

	<!-- Navigation -->
	<nav th:fragment="header"
		class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">Emotion recognition API</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li th:if="${sessionUserName}" class="nav-item"><a
						class="nav-link" href="profile">Profile</a></li>
					<li class="nav-item"><a th:unless="${sessionUserName}"
						class="nav-link" href="contact">Contact</a></li>
					<li th:if="${sessionUserName}" class="nav-item"><form
							name="logoutForm" th:action="@{/logout}" method="post">
							<input class="btn btn-primary btn-sm" type="submit"
								value="Log out" />
						</form></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">

		<!-- Heading Row -->
		<div class="row my-4">
			<div class="col-lg-8">
				<a class="navbar-branda" href="/"> <img class="img-fluid"
					src="../images/eyeglasses-1245879_1280.jpg" alt="logo" />
				</a>
			</div>
			<!-- /.col-lg-8 -->
			<div class="col-lg-4">
				<h1>When in doubt, add computer vision!</h1>
				<p>Your business needs a boost, so don't hesitate to contact us!
					Our face detection and emotion recognition APIs can be easily
					integrated in any system!</p>
				<a class="btn btn-primary btn-lg" href="#" data-toggle="modal"
					data-target="#registerModal">Register</a>
				<h3 style="margin-top: 2em; color: red" th:text="${message}"></h3>
			</div>
			<!-- /.col-md-4 -->
		</div>
		<!-- /.row -->

		<!-- Call to Action Well -->
		<div class="card text-white bg-secondary my-4 text-center">
			<div class="card-body">
				<p class="text-white m-0">
					Already a member? <a href="#" class="text-white m-0"
						data-toggle="modal" data-target="#loginModal"> Log in </a>
				</p>
			</div>
		</div>

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer th:fragment="footer" class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Andrei
				Herdes Licenta 2018</p>
		</div>
		<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../vendor/jquery/main.js"></script>

</body>

</html>
