<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
	content="Web App for our emotion recognition api">
<meta name="author" content="Andrei Herdes">

<title>EmoAPI</title>

<!-- Bootstrap core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../css/small-business.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<div th:replace="index :: header">placeholder</div>

	<!-- Page Content -->
	<div class="container">
		<h2>
			Welcome <span th:text="${sessionUserName}"></span>!
		</h2>

		<!-- Heading Row -->
		<div class="row my-4">
			<div class="col-lg-4">
				<h4>Feel free to test our API</h4>
				<form method="POST" th:action="@{/mainpage/uploadFile}"
					enctype="multipart/form-data">
					<input type="file" name="file" /><br /> <br /> <input
						class="btn btn-primary" type="submit" value="Submit" />
				</form>
			</div>
			<!-- /.col-lg-8 -->
			<div class="col-lg-8">
				<div class="card-body">
					<div th:if="${message}">
						<p th:text="${message}" />
					</div>
				</div>
			</div>
			<!-- /.col-md-4 -->
		</div>



		<!-- Call to Action Well -->
		<div class="card text-white bg-secondary my-4 text-center">
			<div class="card-body">
				<p class="text-white m-0">If you enjoy the results, choose the
					option that suits you best and start using our API from anywhere!</p>
			</div>
		</div>

		<!-- Content Row -->
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<div class="card-body">
						<h2 class="card-title">Personal</h2>
						<p class="card-text">Free API use, community support. Capped
							at 200 requests per day.</p>
					</div>

					<div class="card-footer">
						<form th:action="@{/mainpage/generateKey}" method="post">
							<input type="hidden" th:name="plan" value="1" />
							<button class="btn btn-primary" type="submit">Get your
								key!</button>
						</form>
					</div>

				</div>
			</div>
			<!-- /.col-md-4 -->
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<div class="card-body">
						<h2 class="card-title">Business</h2>
						<p class="card-text">1000€/month</p>
						<p class="card-text">Includes email support during working.
							The service is capped at 500,000 transactions per day.</p>
					</div>
					<div class="card-footer">
						<form th:action="@{/mainpage/generateKey}" method="post">
							<input type="hidden" th:name="plan" value="2" />
							<button class="btn btn-primary" type="submit">Get your
								key!</button>
						</form>
					</div>
				</div>
			</div>
			<!-- /.col-md-4 -->
			<div class="col-md-4 mb-4">
				<div class="card h-100">
					<div class="card-body">
						<h2 class="card-title">Enterprise</h2>
						<p class="card-text">3000€/month</p>
						<p class="card-text">Includes 24/7 premium support, our
							dataset for research purposes and unlimited API usage.</p>
					</div>
					<div class="card-footer">
						<form th:action="@{/mainpage/generateKey}" method="post">
							<input type="hidden" th:name="plan" value="3" />
							<button class="btn btn-primary" type="submit">Get your
								key!</button>
						</form>
					</div>
				</div>
			</div>
			<!-- /.col-md-4 -->
		</div>
	</div>
	<!-- /.row -->

	<!-- Footer -->
	<div th:replace="index :: footer">placeholder</div>

	<!-- Bootstrap core JavaScript -->
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>
</html>